
body {
    background-color: lightskyblue;
    font-size: 300%;
}

.main {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}

header {
    background: blue;
    color: white;
    font-size: 150%;
}

footer {
    background: black;
    color: white;
}

input[type="checkbox"] {
    transform: scale(2, 2);
    vertical-align: middle;
}

.container {
    position: relative;
    width: 100%;
    max-width: 42px;
}

.bugimage {
    display: block;
    width: 42px;
    height: 42px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.container:hover .overlay {
    opacity: 1;
}
