<header>
  <h2>{{ title }}</h2>
</header>
<b>Please file a bug from</b>
<a href="http://bit.ly/breport2">
  <img src="./assets/bug.jpg" height="42" width="42">
</a>
<br />
<div>
  Current version: {{version}}<br/>
</div>
<section class="main" *ngIf="seaAnimals.length > 0">
  <table>
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Picture</th>
      <th>Mammal?</th>
    </tr>
    <tr *ngFor="let animal of seaAnimals">
      <td class="center">{{animal.order}}</td>
      <td>{{animal.name}}</td>
      <td><img src="./assets/{{animal.picture}}" style="width: 256px;"/></td>
      <td>{{animal.mammal ? 'Y' : 'N'}}</td>
    </tr>
  </table>
</section>
<footer>Seattle IT Japanese Professional</footer>