<header>
  <h2>{{ title }}</h2>
</header>
<section class="main" *ngIf="seaAnimals.length > 0">
  <table>
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Picture</th>
      <th>Mammal?</th>
    </tr>
    <tr *ngFor="let animal of seaAnimals">
      <td class="center">{{animal.order}}</td>
      <td>{{animal.name}}</td>
      <td><img src="./assets/{{animal.picture}}" style="width: 256px;"/></td>
      <td><input class="toggle" type="checkbox" [checked]="animal.mammal"></td>
    </tr>
  </table>
</section>
<footer>Seattle IT Japanese Professional</footer>