<header>
  <h2>{{ title }}</h2>
</header>
<b>Please file a bug from:</b>
<div class="container">
  <a href="http://bit.ly/breport2" title="Bug Report">
  <img src="./assets/bug.jpg" class="bugimage">
  <div class="overlay">
    <img src="./assets/bug-red.jpg" class="bugimage">
  </div>
  </a>
</div>
<br />
<br />
<div style="display: block">
  Version: <app-dropdown [currentVersion]="currentVersion" [versions]="versions" (change)="versionChanged($event)"></app-dropdown>
  <div><br /></div>
  <div><br /></div>
</div>
<section class="main" *ngIf="currentVersion == 1 && seaAnimals1.length > 0">
  <table>
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Picture</th>
      <th>Mammal?</th>
    </tr>
    <tr *ngFor="let animal of seaAnimals1">
      <td class="center">{{animal.order}}</td>
      <td>{{animal.name}}</td>
      <td><img src="./assets/{{animal.picture}}" style="width: 256px;"/></td>
      <td>{{animal.mammal ? 'Yes' : 'No'}}</td>
    </tr>
  </table>
</section>
<section class="main" *ngIf="currentVersion == 2 && seaAnimals2.length > 0">
  <table>
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Picture</th>
      <th>Mammal?</th>
    </tr>
    <tr *ngFor="let animal of seaAnimals2">
      <td class="center">{{animal.order}}</td>
      <td>{{animal.name}}</td>
      <td><img src="./assets/{{animal.picture}}" style="width: 256px;"/></td>
      <td>{{animal.mammal ? 'Yes' : 'No'}}</td>
    </tr>
  </table>
</section>
<footer>Seattle IT Japanese Professional</footer>